extends layout

block content
    h1= title
    if (currentUser.role === 'student')
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#studentInfo') Student's info
            li
                a(data-toggle='tab', href='#parentInfo') Parent's info
        .tab-content
            #studentInfo.tab-pane.fade.in.active
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | Student's number:
                            td
                                | #{currentUser.number}
                        tr
                            th
                                | First name:
                            td
                                | #{currentUser.firstName}
                        tr
                            th
                                | Last name:
                            td
                                | #{currentUser.lastName}
                        tr
                            th
                                | Role:
                            td
                                | #{currentUser.role}
                        tr
                            th
                                | Identification number:
                            td
                                | #{currentUser.egn}
                        tr
                            th
                                | Grade:
                            td
                                | #{currentUser.grade}
                        tr
                            th
                                | Address:
                            td
                                | #{currentUser.address}
                        tr
                            th
                                | Phone number:
                            td
                                | #{currentUser.phone}
                        tr
                            th
                                | Email:
                            td
                                | #{currentUser.email}

            #parentInfo.tab-pane.fade
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | Name:
                            td
                                | #{currentUser.parentName}
                        tr
                            th
                                | Address:
                            td
                                | #{currentUser.parentAddress}
                        tr
                            th
                                | Phone number:
                            td
                                | #{currentUser.parentPhone}
    if (currentUser.role === 'admin')
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#userInfo') User's info
        .tab-content
            #userInfo.tab-pane.fade.in.active
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | First Name:
                            td
                                | #{currentUser.firstName}
                        tr
                            th
                                | Last Name:
                            td
                                | #{currentUser.lastName}
                        tr
                            th
                                | Role:
                            td
                                | #{currentUser.role}
                        tr
                            th
                                | Email:
                            td
                                | #{currentUser.email}
    if (currentUser.role === 'teacher')
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#userInfo') User's info
        .tab-content
        #userInfo.tab-pane.fade.in.active
            table.table.table-responsive
                tbody
                    tr
                        th
                            | First Name:
                        td
                            | #{currentUser.firstName}
                    tr
                        th
                            | Last Name:
                        td
                            | #{currentUser.lastName}
                    tr
                        th
                            | Role:
                        td
                            | #{currentUser.role}
                    tr
                        tr
                        th
                            | Subject:
                        td
                            | #{currentUser.subject}
                    tr
                        th
                            | Email:
                        td
                            | #{currentUser.email}
