extends ../_common/layout

block content
    h1= title
    if user && user.role === 'student'
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#studentInfo') Student's info
            li
                a(data-toggle='tab', href='#parentInfo') Parent's info
            li
                a(data-toggle='tab', href='#studentMarks') Student's marks
        .tab-content
            #studentInfo.tab-pane.fade.in.active
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | Student's number:
                            td
                                | #{dataUser.number}
                        tr
                            th
                                | First name:
                            td
                                | #{dataUser.firstName}
                        tr
                            th
                                | Last name:
                            td
                                | #{dataUser.lastName}
                        tr
                            th
                                | Role:
                            td
                                | #{user.role}
                        tr
                            th
                                | Identification number:
                            td
                                | #{dataUser.egn}
                        tr
                            th
                                | Grade:
                            td
                                | #{dataUser.grade}
                        tr
                            th
                                | Address:
                            td
                                | #{dataUser.address}
                        tr
                            th
                                | Email:
                            td
                                | #{dataUser.email}

            #parentInfo.tab-pane.fade
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | Name:
                            td
                                | #{dataUser.parentName}
                        tr
                            th
                                | Phone number:
                            td
                                | #{dataUser.parentPhone}
            #studentMarks.tab-pane.fade
                table.table.table-responsive.table-striped
                    thead
                        tr
                            each mark in dataUser.marks
                                th
                                    = mark.name
                    tbody
                        tr
                            each mark in dataUser.marks
                                td
                                    = Object.values(mark)[0]
    if user && user.role === 'admin'
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#userInfo') User's info
        .tab-content
            #userInfo.tab-pane.fade.in.active
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | First Name:
                            td
                                | #{dataUser.firstName}
                        tr
                            th
                                | Last Name:
                            td
                                | #{dataUser.lastName}
                        tr
                            th
                                | Role:
                            td
                                | #{user.role}
                        tr
                            th
                                | Email:
                            td
                                | #{dataUser.email}
    if user && user.role === 'teacher'
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#userInfo') User's info
        .tab-content
        #userInfo.tab-pane.fade.in.active
            table.table.table-responsive
                tbody
                    tr
                        th
                            | First Name:
                        td
                            | #{dataUser.firstName}
                    tr
                        th
                            | Last Name:
                        td
                            | #{dataUser.lastName}
                    tr
                        th
                            | Role:
                        td
                            | #{user.role}
                    tr
                        tr
                        th
                            | Subject:
                        td
                            | #{dataUser.subjects}
                    tr
                        th
                            | Email:
                        td
                            | #{dataUser.email}
