extends _common/layout

block content
    h1= title
    if (user.role === 'student')
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#studentInfo') Student's info
            li
                a(data-toggle='tab', href='#parentInfo') Parent's info
        .tab-content
            #studentInfo.tab-pane.fade.in.active
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | Student's number:
                            td
                                | #{user.number}
                        tr
                            th
                                | First name:
                            td
                                | #{user.firstName}
                        tr
                            th
                                | Last name:
                            td
                                | #{user.lastName}
                        tr
                            th
                                | Role:
                            td
                                | #{user.role}
                        tr
                            th
                                | Identification number:
                            td
                                | #{user.egn}
                        tr
                            th
                                | Grade:
                            td
                                | #{user.grade}
                        tr
                            th
                                | Address:
                            td
                                | #{user.address}
                        tr
                            th
                                | Phone number:
                            td
                                | #{user.phone}
                        tr
                            th
                                | Email:
                            td
                                | #{user.email}

            #parentInfo.tab-pane.fade
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | Name:
                            td
                                | #{user.parentName}
                        tr
                            th
                                | Address:
                            td
                                | #{user.parentAddress}
                        tr
                            th
                                | Phone number:
                            td
                                | #{user.parentPhone}
    if (user.role === 'admin')
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#userInfo') User's info
        .tab-content
            #userInfo.tab-pane.fade.in.active
                table.table.table-responsive
                    tbody
                        tr
                            th
                                | First Name:
                            td
                                | #{user.firstName}
                        tr
                            th
                                | Last Name:
                            td
                                | #{user.lastName}
                        tr
                            th
                                | Role:
                            td
                                | #{user.role}
                        tr
                            th
                                | Email:
                            td
                                | #{user.email}
    if (user.role === 'teacher')
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#userInfo') User's info
        .tab-content
        #userInfo.tab-pane.fade.in.active
            table.table.table-responsive
                tbody
                    tr
                        th
                            | First Name:
                        td
                            | #{user.firstName}
                    tr
                        th
                            | Last Name:
                        td
                            | #{user.lastName}
                    tr
                        th
                            | Role:
                        td
                            | #{user.role}
                    tr
                        tr
                        th
                            | Subject:
                        td
                            | #{user.subject}
                    tr
                        th
                            | Email:
                        td
                            | #{user.email}
