extends ../_common/layout

block content
    div.inline
        h1= title
        if (user)
            if (user.role === 'admin' || user.role === 'teacher')
                a.btn.btn-primary.middle(href='/students/form' type='button') Add student
    table.table.table-responsive.table-striped
        thead
            tr
                th
                    | Student's number
                th
                    | Student's name
                th
                    | Student's grade
                th

        tbody
            each student in model
                tr
                    td #{student.number}
                    td #{student.firstName} #{student.lastName}
                    td #{student.grade}
                    if (user && (user.role === 'admin' || user.role === 'teacher'))
                        td
                            a(href=`/students/${student.number}`) View profile
