extends ../_common/layout

block content
    div.inline
        h1= title
        a.btn.btn-primary.middle(href='/students/form' type='button') Add student
    table.table.table-responsive.table-striped
        thead
            tr
                th
                    | Student's username
                th
                    | Student's name
                th
                    | Student's grade
                th

        tbody
            each user in model
                if (true || user.role === 'student')
                tr
                    td #{user.number}
                    td #{user.firstName} #{user.lastName}
                    td #{user.grade}
                    td
                        a(href=`/students/${user.number}`) View profile
